.flex {
  display: flex;
}

.inline {
  display: inline;
}

.align-middle {
  vertical-align: middle;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
