@use '../tools' as t;

@layer components.dialog {
  .dialog__overlay {
    position: fixed;
    inset: 0;
    z-index: var(t.get-z-var('modal'));
    background-color: hsl(0, 0%, 0%, 20%);
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .dialog__content {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: var(t.get-z-var('modal'));
    width: 90vw;
    max-width: t.px-to-rem(450px);
    max-height: 85vh;
    padding: 25px;
    border: 1px solid var(t.get-color-var('border'));
    border-radius: t.px-to-rem(6px);
    background-color: var(t.get-color-var('background'));
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    transform: translate(-50%, -50%);
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

    & > :not(:first-child) {
      margin-block-start: t.px-to-rem(20px);
    }
  }

  .dialog__header {
    // margin-block-end: t.px-to-rem(20px);
  }

  .dialog__title {
    font-weight: 600;
    color: var(t.get-color-var('popover-foreground'));
    font-size: t.px-to-rem(18px);
  }

  .dialog__description {
    color: var(t.get-color-var('muted-foreground'));
    font-size: t.px-to-rem(16px);
    line-height: t.lh-ratio(16px);
  }

  .dialog__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
