@use '../tools' as t;

@layer components.form {
  .form {
    :where(& > :not(:first-child)) {
      margin-block-start: 12px;
    }
  }

  .form__footer {
    margin-block-start: 30px;
    display: flex;
    gap: 20px;
  }

  .input-base {
    width: 100%;
    height: t.px-to-rem(35px);
    padding: 0 15px;
    border: 1px solid var(t.get-color-var('input'));
    border-radius: t.px-to-rem(4px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.15s;
    box-shadow: 0 1px 2px 0 hsl(0, 0%, 0%, 0.1);
    background-color: transparent;

    &:focus-visible {
      @include t.focus-vis;
    }
  }

  .input {
    @extend .input-base;
  }

  .textarea {
    @extend .input-base;
    height: auto;
    padding-block: 4px;
    resize: vertical;
    background-color: transparent;
  }

  .label {
    width: max-content;
    font-weight: 500;
    line-height: 1;
  }

  .helper-text {
    font-size: t.px-to-rem(14px);
    font-weight: 300;
    line-height: t.lh-ratio(14px);
    color: var(t.get-color-var('muted-foreground'));

    &[data-variant='error'] {
      color: var(t.get-color-var('danger'));
    }
  }

  .form-item {
    display: grid;
    gap: t.px-to-rem(8px);
    justify-items: flex-start;
  }

  .select__trigger {
    @extend .input-base;
    justify-content: space-between;
    gap: 5px;

    &[data-placeholder] {
      color: var(t.get-color-var('muted-foreground'));
    }
  }

  .select__content {
    width: var(--radix-select-trigger-width);
    z-index: var(t.get-z-var('modal'));
    overflow: hidden;
    border-radius: 6px;
    color: var(t.get-color-var('popover-foreground'));
    background-color: var(t.get-color-var('popover'));
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
      0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  }

  .select__viewport {
    padding: 5px;
  }

  .select__item {
    --_bg: var(#{t.get-color-var('accent')});
    --_color: var(#{t.get-color-var('accent-foreground')});

    position: relative;
    height: t.px-to-rem(25px);
    padding: 0 35px 0 25px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    font-size: t.px-to-rem(14px);
    line-height: 1;
    color: inherit;
    user-select: none;

    &[data-highlighted] {
      outline: none;
      // background-color: color-mix(in hsl, var(--_bg), transparent 80%);
      background-color: var(t.get-color-var('accent'));
      color: var(--_color);
    }

    &[data-disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .select__label {
    padding: 0 25px;
    font-size: t.px-to-rem(12px);
    line-height: t.lh-ratio(25px);
    color: var(t.get-color-var('muted-foreground'));
  }

  .select__separator {
    height: 1px;
    background-color: var(t.get-color-var('muted-foreground'));
    margin: 5px;
  }

  .select__item-indicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .select__scroll-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    background-color: white;
    background-color: var(t.get-color-var('muted-foreground'));
    cursor: default;
  }

  .combobox {
    --_trigger-icon-size: var(--trigger-icon-size, #{t.px-to-rem(24px)});
    --_cancel-icon-size: var(--cancel-icon-size, #{t.px-to-rem(18px)});
    position: relative;
    width: 100%;
    color: inherit;
    &:not(:has(.combobox__cancel)) {
      --_cancel-icon-size: 0px;
    }
  }

  .combobox__anchor {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
  }

  .combobox__input {
    @extend .input-base;
    padding-inline-end: calc(
      var(--_trigger-icon-size) + #{t.px-to-rem(6px)} + var(--_cancel-icon-size)
    );

    &[data-placeholder] {
      color: var(t.get-color-var('muted-foreground'));
    }
  }
  .combobox__icon {
    position: absolute;
    color: inherit;
    & > svg {
      width: 1em;
      height: 1em;
    }
  }
  .combobox__trigger {
    inset-inline-end: t.px-to-rem(6px);
    inset-block-start: 50%;
    margin-block-start: calc(-1 * var(--_trigger-icon-size) / 2);
    padding: 0;
    font-size: var(--_trigger-icon-size);
  }
  .combobox__cancel {
    inset-inline-end: calc(var(--_trigger-icon-size) + 10px);
    inset-block-start: 50%;
    margin-block-start: calc(-1 * var(--_cancel-icon-size) / 2);
    padding: 0;
    font-size: var(--_cancel-icon-size);
    cursor: pointer;
  }
  .combobox__content {
    @extend .select__content;
    width: var(--radix-combobox-trigger-width);
  }
  .combobox__viewport {
    @extend .select__viewport;
  }
  .combobox__empty {
    text-align: center;
    color: var(t.get-color-var('muted-foreground'));
  }
  .combobox__item {
    @extend .select__item;
    min-height: t.px-to-rem(25px);
    padding-block: 12px;
  }
  .combobox__item-indicator {
    @extend .select__item-indicator;
  }
  .combobox__group-label {
    height: t.px-to-rem(25px);
    padding-inline-start: 12px;
    display: flex;
    align-items: center;
    font-size: t.px-to-rem(16px);
    line-height: 1;
    color: var(t.get-color-var('muted-foreground'));
  }
  .combobox__separator {
    height: 1px;
    margin: 5px;
    background-color: var(t.get-color-var('border'));
  }
}
