@use '../tools/' as t;

@layer components.popover {
  .popover__content {
    position: relative;
    inline-size: 300px;
    padding: 25px;
    border: 1px solid var(t.get-color-var('border'));
    border-radius: t.px-to-rem(6px);
    background-color: var(t.get-color-var('popover'));
    color: var(t.get-color-var('popover-foreground'));
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
      hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }
  .popover__content[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  .popover__content[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  .popover__content[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  .popover__content[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }

  .popover__close {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .popover__arrow {
    fill: var(t.get-color-var('popover'));
  }

  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
