@font-face {
  font-family: Nunito;
  src: url('/src/assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 200 900;
}

@font-face {
  font-family: MsMadi;
  src: url('/src/assets/fonts/MsMadi-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
